[submodule "src/teb_local_planner"]
	path = src/teb_local_planner
	url = https://github.com/BInh62153/teb_local_planner.git
	branch = ros2-master

[submodule "src/m-explore-ros2"]
	path = src/m-explore-ros2
	url = https://github.com/BInh62153/m-explore-ros2.git
	branch = main

[submodule "src/costmap_converter"]
	path = src/costmap_converter
	url = https://github.com/BInh62153/costmap_converter.git
	branch = ros2